.subheader
  position relative
  margin-bottom 70px
  
.subheader__social
  width 100%
  text-align center

.subheader__logo, .subheader__sponsor
  display block
  position absolute
  top 5px
  rihgt 0
  
  img
    display block

.subheader__sponsor
  top 0
  right 0


@media screen and (max-width 1030px)
  .subheader
    margin-bottom 45px
    
    text-align center